$color-font: #333;
$color-font-heading: #484848;
$color-font-heading-content: #444;
$color-font-lighter: #888;

$color-logo: #3c3c3c;

$color-primary: #ffab00;
$color-bg: #efefef;
$color-bg-heading: #f7f7f7;
$color-border: #d8d8d8;
