@font-face {
  font-family: 'UniSansHeavy';
  src:  url('../fonts/UniSansHeavy.otf') format('opentype');
}

@font-face {
  font-family: 'UniSansHeavyItalic';
  src:  url('../fonts/UniSansHeavyItalic.otf') format('opentype');
}
