@import "vendor/_reset";

@import "base/_colors";

@import "base/_fonts";

html {
  font-size: 16px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Open-Sans', Arial, sans-serif;
  font-size: 1rem;
}

.container {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
}

*, ::after, ::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}

*::selection {
  background-color: $color-primary;
  color: #ffffff;
}

@import "partials/_header";
@import "partials/_main";
