.header {
  width: 100%;
  margin-bottom: 20px;
}

.top-header {
  color: $color-font-lighter;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-family: Tahoma,Geneva,Kalimati,sans-serif;
  font-size: 10px;

  a {
    color: $color-font-lighter;
  }

  .icon {
    position: relative;
    padding-left: 19px;
    height: 30px;
    display: inline-block;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 13px;
      height: 30px;
    }
  }

  .icon-clock {
    &:before {
      background: url("../img/watch.png") center no-repeat;
    }
  }

  .icon-fb {
    text-indent: -999em;

    &:before {
      background: url("../img/fb.png") center no-repeat;
    }
  }

  .icon-twitter {
    text-indent: -999em;

    &:before {
      background: url("../img/twitter.png") center no-repeat;
    }
  }

  .icon-chat {
    &:before {
      background: url("../img/chat.png") center no-repeat;
    }
  }

  .icon-settings {
    &:before {
      background: url("../img/settings.png") center no-repeat;
    }
  }

  .time {
    float: left;
  }

  .account {
    float: right;
    margin-right: 226px;
    & > * {
      margin: 0 20px;
      float: left;
    }
  }

  .social,
  .chat {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      right: -15px;
      top: 11px;
      width: 1px;
      height: 11px;
      border-right: 1px solid $color-border;
    }
  }
}

.header-banner {
  height: 100px;
  background:
    url(../img/header-bg.png) center no-repeat,
    linear-gradient(#ffdf8a, #f8ad16);

  .logo {
    display: block;
    font-family: 'UniSansHeavyItalic', sans-serif;
    padding: 37px 6px;
    font-size: 37.5px;
    color: $color-logo;
    text-transform: uppercase;
    transition: color .3s;
    &:hover {
      color: $color-primary;
    }
  }
}

.header-menu {
  height: 35px;
  width: 100%;
  line-height: 34px;
  background-image: linear-gradient(#5e5e5e, #343434);
  border-top: 1px solid #8f8f8f;
  box-sizing: border-box;

  ul {

    li {
      float: left;

      a {
        display: block;
        color: #fff;
        line-height: inherit;
        padding: 0 15px;
        font-size: 12px;
        font-weight: 600;
        transition: background .6s;
        &.active,
        &:hover {
          background: #333;
        }
      }
    }
  }
}
