.main {
  margin-bottom: 36px;

  a {
    color: $color-primary;
  }

  & > * {
    margin-bottom: 10px;
  }

  .deposit {
    height: 52px;
    background:
      url('../img/coins-plus.png') 98% center no-repeat,
      url('../img/menu-ellipse.png') center no-repeat,
      linear-gradient(to top, #ededed 0%, #f2f2f2 100%);
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 3px 0 white;
    padding: 0 19px;

    h1 {
      color: $color-font-heading;
      font-size: 16px;
      font-weight: 700;
      line-height: 52px;
      letter-spacing: .4px;
    }
  }

  .operations {
    width: 100%;
    display: flex;
    align-items: stretch;
  }

  .sidebar {
    width: 100%;
    max-width: 270px;
    background-color: $color-bg;
    border-radius: 3px 0 0 3px;
    padding: 24px 19px;
    font-size: 11px;
    font-weight: 700;
  }

  .new-method {
    border: 1px solid $color-border;
    border-left: 0;
    border-right: 0;
    margin-bottom: 15px;
    background: url('../img/plus.png') 91% center no-repeat;
    a {
      display: block;
      padding: 13px 10px;
      color: $color-font;
    }
  }

  .block {
    margin-bottom: 19px;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    & > * {
      line-height: 40px;
    }
  }

  .block-heading {
    padding: 0 10px;
    background-image: linear-gradient(to top, #f2f2f2 0%, white 100%);
    color: $color-font-heading-content;
  }

  .block-list {
    padding: 10px 0;
    a {
      line-height: 22px;
      display: block;
      padding: 0 10px;
    }
  }

  .content {
    padding: 24px 29px;
    padding-bottom: 52px;
    border: 1px solid $color-border;
    border-radius: 0 3px 3px 0;
    letter-spacing: .2px;
    margin-right: 20px;
  }

  .section {
    margin-bottom: 32px;
  }

  .section-heading {
    font-size: 13px;
    font-weight: 700;
    color: $color-font-heading-content;
    line-height: 40px;
    border-bottom: 1px solid $color-border;
    margin-bottom: 18px;
    padding-bottom: 3px;

    .bank-logo {
      padding-left: 15px;
    }
  }

  .section-content {
    padding: 0 24px;
    font-size: 11px;
    td {
      height: 20px;

      &:first-child {
        width: 169px;
        font-weight: 700;
      }
    }
  }

  .section-account {
    .section-content {
      padding: 20px 24px 5px 24px;
      border: 1px solid $color-border;
      border-radius: 6px;

      td {
        height: 25px;
      }
    }
  }

  .section-info {
    .section-content {
      display: flex;
      align-items: center;
      padding: 12px 34px;
      padding-bottom: 17px;
      border: 1px solid $color-border;
      border-radius: 6px;
      line-height: 15px;
      background-image: linear-gradient(to top, $color-bg-heading 0%, white 100%);
    }

    .learn-more {
      font-weight: 700;
    }

    .section-content-img {
      margin-right: 36px;
    }
  }

  .information {
    width: 100%;
    max-width: 220px;
  }

  .block-support,
  .block-secure {
    border: 1px solid $color-border;
    border-radius: 3px;
    margin-bottom: 11px;
  }

  .support-heading {
    min-height: 74px;
    border-bottom: 1px solid $color-border;
    position: relative;
    background:
      url('../img/support-cloud.png') 75px 24px no-repeat,
      $color-bg-heading;

    .support-img {
      position: absolute;
      bottom: 0;
      left: 10px;
    }

    .support-text {
      position: absolute;
      top: 33px;
      right: 30px;
      color: #4c4c4c;
      font-size: 11px;
      font-weight: 600;
    }
  }

  .support-contacts {
    font-size: 11px;
    font-weight: 600;
    padding: 15px 21px;
    line-height: 21.5px;

    li {
      display: flex;
      align-items: baseline;
      color: #4c4c4c;
    }

    a {
      display: block;
    }

    i {
      color: #d9d9d9;
      font-size: 8px;
      margin-right: 11px;
    }
  }

  .block-secure {
    font-size: 11px;
  }

  .secure-heading {
    font-weight: 700;
    padding: 9px 21px;
    border-bottom: 1px solid $color-border;
    background: url("../img/tick.png") 6% center no-repeat;
  }

  .secure-heading-text {
    padding-left: 12px;
    letter-spacing: .3px;
  }

  .secure-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    background: url("../img/secure-bg.png") center bottom no-repeat;

    img {
      margin-bottom: 16px;
    }
  }

  .secure-bottom-text {
    font-weight: 400;
    line-height: 17px;
    text-align: justify;
  }
}
